{% load static %}

<style>
.details{
    color: whitesmoke;
    text-align: center;
    background-image: url('{% static 'Portfolio/background5.jpg' %}');
    padding:40px;
    padding-bottom: 400px;
}

</style>

<div class="details">
    <h1 style="background-image: url('{% static 'Portfolio/background5.jpg' %}');padding:50px">{{ blog.title }}</h1>
    <div style="background-image: url('{% static 'Portfolio/banner.jpg' %}');padding:50px">
        {{ blog.date}}
    <h3>{{ blog.description }}</h3>
    </div>
    
</div>
